body{
    background-color: #111111;
    
}
h1{
    
    color:#E2E80F;
    text-align:center;
    font-size: 30px;
}
p{
    color:#eeeeee;
    font-size: 20px;
    line-height: 2;
}
 .credits{
    color:blue;
    text-decoration:underline;
    
}

.credits:hover{
    cursor:pointer;
    
}
#film-description{
    font-size: 10px;
    font-style: italic;
  
}


