.pink{
    background-color: deeppink;
    margin-bottom: 20px;
    margin-top: 20px;
    
    
}
.red{
   background-color: red;

    margin-bottom: 20px;
   
    
}
.blue{
   background-color: lightblue;
    margin-bottom: 20px;
   
    
}

.green{
   background-color: green;
    
margin-bottom: 20px;
    
}

.orange{
   background-color: orange;
    
    
}
.ht{
    height:200px; 
}

