<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
</head>
<body ng-app='myNewApp' ng-controller='myController'>
    <h1>Welcome to our shop</h1>
    <p>What would you like to buy</p>
    <input ng-model='name' type='text' placeholder='Name of Item'>
    <input ng-model='amount' type='number' placeholder='Amount of sell'>
    <input ng-model='price' type='number' placeholder='price of Item'>
    {{name}}
    {{amount}}
    {{price}}
    <button ng-click='addShopItem()'>add</button>
    <div ng-repeat='item in shopItems'>
        <item-in-shop name='item.name' amount='item.amount' price='item.price' currency='$'></item-in-shop>
        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src='app.js'></script>
    <script src='shopItem.js'></script>
</body>
</html>