ul li{
    margin-right: 30px;
    
    
}
span{
    font-size: 15px;
    
}
button{
    margin-right:3px;
    
    
    
}
h1{
    text-align: center;
    
}

#tel{
    margin-top:50px;
}

#m{
    
    margin: auto;
    
}

